body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    font-family: cursive;
}

button, .btn {
    border: none;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.nav_01 {
    border-right: 1rem solid;
    border-color: orange;
    display: flex;
    flex-direction: column;
    width: 15vw;
    position: sticky;
    height: 100vh;
}

.logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 10vw;
}

.itens {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 3;
}

.item_menu{
    flex-grow: 1;
    align-content: center;
}

.img_item {
    width: 4vw;
}

.img_item:hover {
    cursor: pointer;
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.35);
}

.nav_02 {
    width: 57vw;
    margin-left: 20px;
    overflow-y: auto;
    position: sticky;
    height: 100vh;
    top: 0;
}

.titulo_produtos {
    font-size: 30px;
}

.nav_produtos {
    display: flex;
}

.produto_card {
    margin: 15px;
    border-radius: 10%;
    border-bottom: 5px solid white;
}

.produto_card:hover {
    cursor: pointer;
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.05);
    border-color: orange;
    border-radius: 10% 10% 0 0;
}

.produto_img {
    height: 35vh;
    width: 15vw;
    border-radius: 10% 10% 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.produto_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto_nome {
    font-size: 15px;
    font-weight: bold;
    text-shadow: orange 1px 0 2px;
}

.produto_valor {
    font-size: 15px;
    text-shadow: orange 1px 0 5px;
}

.nav_03 {
    width: 25vw;
    margin-right: 10px;
    margin-left: 10px;
}

.pedido_titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    height: 8vh;
}

.pedido_itens {
    height: 65vh;
    position: sticky;
    overflow-y: auto;
}

.pedido_produto {
    display: flex;
    align-items: center;
}

.pedido_nome_produto {
    font-size: 15px;
    width: 10vw;
}

.pedido_total_produto {
    font-size: 15px;
}

.item_quant {
    width: 8vw;
}

.btn_qtd {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 15px;
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
}

.text_qtd {
    border: 2px solid gray;
    border-radius: 20%;
    font-size: 15px;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
}

.pedido_total {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.pedido_botoes {
    display: flex;
    justify-content: space-around;
}

.pedido_btn {
    width: 10vw;
    height: 6vh;
    font-size: 15px;
    background: none;
    border-bottom: 2px solid orange;
}

.pedido_btn:hover {
    border: 2px solid orange;
    cursor: pointer;
}